<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('partials/header') %>

    <h1>Welcome to ShelterMap</h1>

    <main>
      <h2>Discover shelters near you and find ways to help.</h2>
    </main>

    <!-- You can see the shelters list clicking on -->
    <!-- the "Available Shelters" link below. -->
    <a href="/shelters">Shelters List</a>

    <%- include('partials/footer') %>
  </body>
</html>